.month {
    display: flex;
    flex-direction: column;

    width: 30%;
    min-width: 170px;
    margin: 0px 5px;
}

.month .name {
    height: 25px;
    line-height: 25px;
    border-bottom: #f3f1f1fa solid 1px;
}

.month .days {
    display: flex;
    flex-wrap: wrap;
}
