.day,
.empty-day {
    cursor: pointer;
    width: 14.2857143%;
    height: 25px;
    line-height: 25px;
}

.day:hover {
    background: #f3f1f1fa;
}

.day.legs {
    background-color: lightblue;
}
.day.chest {
    background-color: lightgreen;
}
.day.arms {
    background-color: pink;
}
.day.back {
    background-color: salmon;
}
