.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App .body {
  display: flex;
}

.body .prev-button,
.body .next-button {
  height: 25px;
  width: 200px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.App-header .year-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#triangle-next,
#triangle-prev,
.year-panel .navigation-button {
  height: 20px;
  cursor: pointer;
}
.navigation-button.left {
  margin-right: 10px;
}
.navigation-button.right {
  margin-left: 10px;
}
.navigation-button #triangle-next {
  transform: rotate(90deg);
}

.navigation-button #triangle-prev {
  transform: rotate(-90deg);
}

button {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
